<%- include('../partials/adminHeader') %>
<div class="orders-main">
  <div class="side-menu" id="adminSideMenu">
    <a href="/admin/">
      <li class="selected"><i class="ri-dashboard-fill"></i>DashBoard</li>
    </a>
    <a href="/admin/orders">
      <li ><i class="ri-shopping-bag-fill"></i> Orders</li>
    </a>
    <a href="/admin/product">
      <li><i class="ri-smartphone-fill"></i> Products</li>
    </a>
    <a href="/admin/users">
      <li><i class="ri-user-fill"></i> Users</li>
    </a>
    <a href="/admin/category">
      <li><i class="ri-layout-grid-fill"></i> Category</li>
    </a>
    <a href="/admin/offers">
      <li><i class="ri-percent-fill"></i> Offers Banner</li>
    </a>
    <a href="/admin/banned-users">
      <li><i class="ri-indeterminate-circle-fill"></i> Banned Users</li>
    </a>
    <a href="/admin/coupons">
      <li><i class="ri-ticket-fill"></i> Coupons</li>
    </a>
    <a href="/admin/sales-report">
      <li><i class="ri-file-chart-fill"></i> Sales Report</li>
    </a>
  </div>
  <div class="order-container">
    <div class="row mt-4">
      <div class="dashboard">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3 mt-2">
            <div class="dashboard-item">
              <div class="dash-img one">
                <img src="/images/money-bag.png" alt="" />
              </div>
              <div class="dash-desc">
                <h3>₹<%=totalRevenue  %> </h3>
                <h5>Total revenue</h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 mt-2">
            <div class="dashboard-item">
              <div class="dash-img two">
                <img src="/images/shopping-bags.png" alt="" />
              </div>
              <div class="dash-desc">
                <h3><%=totalOrders  %> </h3>
                <h5>Total orders</h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 mt-2">
            <div class="dashboard-item">
              <div class="dash-img three">
                <img src="/images/chronometer.png" alt="" />
              </div>
              <div class="dash-desc">
                <h3><%=totalPending  %></h3>
                <h5>Total pending</h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 mt-2">
            <div class="dashboard-item">
              <div class="dash-img four">
                <img src="/images/delivery.png" alt="" />
              </div>
              <div class="dash-desc">
                <h3><%=totalDispatch  %> </h3>
                <h5>Total dispatch</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="mt-3">Sales Overview</h3>
    <div class="row mt-2 p-3">
      <div class="chart-container">
        <div id="chart"></div>
      </div>
    </div>
  </div>
</div>

<script>
  var monthlyData= '<%= JSON.stringify(monthlyData)%>'
  var options = {
    series: [
      {
        data: JSON.parse(monthlyData),
      },
    ],
    chart: {
      height: 350,
      type: "bar",
      events: {
        click: function (chart, w, e) {
        },
      },
    },
    colors: [
      'rgba(255, 99, 132, 1)',
      'rgba(255, 159, 64, 1)',
      'rgba(255, 205, 86, 1)',
      'rgba(75, 192, 192, 1)',
      'rgba(54, 162, 235, 1)',
      'rgba(153, 102, 255, 1)',
      'rgba(201, 203, 207, 1)'
    ],
    plotOptions: {
      bar: {
        columnWidth: "45%",
        distributed: true,
      },
    },
    dataLabels: {
      enabled: false,
    },
    legend: {
      show: false,
    },
    xaxis: {
      categories: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ],
      labels: {
        style: {
          colors: [
            "rgba(255, 99, 132, 1)",
            "rgba(255, 159, 64, 1)",
            "rgba(255, 205, 86, 1)",
            "rgba(75, 192, 192, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(153, 102, 255, 1)",
            "rgba(201, 203, 207, 1)",
          ],
          fontSize: "12px",
        },
      },
    },
  };

  var chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render();
</script>
