<%- include('../partials/adminHeader') %>
<div class="orders-main">
  <div class="side-menu" id="adminSideMenu">
    <a href="/admin/">
      <li><i class="ri-dashboard-fill"></i>DashBoard</li>
    </a>
    <a href="/admin/orders">
      <li ><i class="ri-shopping-bag-fill"></i> Orders</li>
    </a>
    <a href="/admin/product">
      <li><i class="ri-smartphone-fill"></i> Products</li>
    </a>
    <a href="/admin/users">
      <li><i class="ri-user-fill"></i> Users</li>
    </a>
    <a href="/admin/category">
        <li><i class="ri-layout-grid-fill"></i> Category</li>
      </a>
    <a href="/admin/offers">
        <li ><i class="ri-percent-fill"></i> Offers Banner</li>
      </a>
      <a href="/admin/banned-users">
        <li><i class="ri-indeterminate-circle-fill"></i> Banned Users</li>
      </a>
      <a href="/admin/coupons">
        <li class="selected"><i class="ri-ticket-fill"></i> Coupons</li>
      </a>
      <a href="/admin/sales-report">
        <li><i class="ri-file-chart-fill"></i> Sales Report</li>
      </a>
  </div>
  <div class="order-container">
    <div class="w-100 mt-3 d-flex align-items-center tablesHeader">
        <h3>Coupons</h3>
        <!-- <div class="product-search">
            <input type="text" placeholder="search for product">
            <i class="ri-search-line"></i>
        </div> -->
        <a href="/admin/add-coupon"><button class="btn btn-dark" style="height: 50px; margin-left:30px;">Add Coupon </button></a>
    </div>
    <div class="row mt-2 p-3">
        <div class="orders-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Coupon Code</th>
                      <th scope="col">Discount</th>
                      <th scope="col">Max Discount</th>
                      <th scope="col">Min-Amount</th>
                      <th scope="col">Expiry</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    <% coupons.forEach((item, index)=>{ %>

                      <tr>
                      <th scope="row"><%= item.name  %> </th>
                      <th scope="row"><%= item.code  %> </th>
                      <th scope="row"><%= item.discount  %> </th>
                      <th scope="row"><%= item.maxDiscountAmount  %> </th>
                      <td><%=item.minAmount  %></td>
                      <td>
                        <%if(new Date(item.expiry) < new Date()){ %> Expired
                        <%}else{ %> <%= item.expiry.toLocaleDateString()  %> <% } %> 
                      </td>
                      <td>
                        <% if(item.unlist){ %> Unlist 
                        <% }else{ %> List <% } %> 
                      </td>
                      <td><div class="dropdown">
                        <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-more-2-fill"></i>
                          </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/admin/edit-coupon/<%=item._id %> ">Edit</a></li>
                          <% if(item.unlist){ %> 
                          <li><a class="dropdown-item"  onclick="listThis('<%=item._id%>')">List</a></li>
                          <% }else{ %> 
                          <li><a class="dropdown-item"  onclick="unListThis('<%=item._id%>')">Unlist</a></li>
                          <% } %> 
                        </ul>
                      </div></td>
                    </tr>
                    <% }) %> 
                  </tbody>
              </table>

        </div>
        <script>
            function listThis(id){
                if(confirm("Are You Sure List this Coupon ")){
                    window.location.href=`/admin/list-coupon/${id}`
                }
            }
            function unListThis(id){
                if(confirm("Are You Sure Unlist this coupon")){
                    window.location.href=`/admin/unlist-coupon/${id}`
                }
            }
        </script>
    </div>
  </div>
</div>

