<%- include('../partials/adminHeader') %>
<div class="orders-main">
  <div class="side-menu" id="adminSideMenu">
    <a href="/admin/">
      <li><i class="ri-dashboard-fill"></i>DashBoard</li>
    </a>
    <a href="/admin/orders">
      <li ><i class="ri-shopping-bag-fill"></i> Orders</li>
    </a>
    <a href="/admin/product">
      <li><i class="ri-smartphone-fill"></i> Products</li>
    </a>
    <a href="/admin/users">
      <li ><i class="ri-user-fill"></i> Users</li>
    </a>
    <a href="/admin/category">
        <li><i class="ri-layout-grid-fill"></i> Category</li>
      </a>
      <a href="/admin/offers">
        <li><i class="ri-percent-fill"></i> Offers Banner</li>
      </a>
      <a href="/admin/banned-users">
        <li  class="selected"><i class="ri-indeterminate-circle-fill"></i> Banned Users</li>
      </a>
      <a href="/admin/coupons">
        <li><i class="ri-ticket-fill"></i> Coupons</li>
      </a>
      <a href="/admin/sales-report">
        <li><i class="ri-file-chart-fill"></i> Sales Report</li>
      </a>
  </div>
  <div class="order-container">
    <div class="w-100 mt-3 d-flex align-items-center tablesHeader">
        <h3>Banned users</h3>
        <form method="get" action="/admin/banned-users" class="product-search">
            <input type="text" placeholder="search for users" name="name">
            <button class="ri-search-line"></button>
        </form>
    </div>
    <div class="row mt-2 p-3">
        <div class="orders-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% users.forEach(item=>{ %>
                      <tr>
                        <th scope="row"><%=item.name  %> </th>
                        <td><%= item.email  %> </td>
                        <td>
                          <a class="btn btn-outline-dark" onclick="unBanThis('<%=item._id%>')">unban</a>

                          <!-- <div class="dropdown">
                          <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="ri-more-2-fill"></i>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/unban-user/<%= item._id  %> ">Unban</a></li>
                          </ul>
                        </div> -->
                      </td>
                      </tr>
                    <% }) %> 
                  </tbody>
              </table>
        </div>
    </div>
  </div>
</div>

<script>
  function unBanThis(id){
    if(confirm("Are You Sure unBan this user")){
        window.location.href=`/admin/unban-user/${id}`
    }
  }
</script>