<%- include('../partials/adminHeader') %>
<div class="add-product-main">
    <h3>Add Category</h3>
    <form action="/admin/edit-order" method="post" class="add-product-container mt-3">
        <input type="text" name="_id" value="<%=order._id%>" style="height: 0px; visibility: hidden;">
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Name">User</label>
                <input type="text" placeholder="category" value="<%=order.address.name%>" disabled>

            </div>
        </div>
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Name">Product</label>
                <input type="text" placeholder="category" disabled value="<%=order.product.name%>">
            </div>
        </div>
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Name">Order Status</label>
                <select name="status" value="<%=order.orderStatus%>" >
                    <% if(order.orderStatus=="returned"){ %>
                    <% }else if(order.orderStatus=="returnProcessing"){ %>
                        <option value="returnProcessing">Return Processing</option>
                        <option value="returned">Returned</option>
                    <% }else{ %>
                        <option value="pending">Pending</option>
                        <option value="delivered">Delivered</option>
                        <option value="outForDelivery">Out For Delivery</option>
                    <% } %>
                    
                    
                </select>
                <% if(error){ %> 
                    <b class="text-danger"><%= message  %> </b>
                  <% } %> 
            </div>
        </div>
        <div class="a-p-form-row">
            <button type="submit">Edit Order</button>
        </div>
    </form>
</div>