<%- include('../partials/adminHeader') %>
<div class="orders-main">
  <div class="side-menu">
    <a href="/admin/">
      <li><i class="ri-dashboard-fill"></i>DashBoard</li>
    </a>
    <a href="/admin/orders">
      <li ><i class="ri-shopping-bag-fill"></i> Orders</li>
    </a>
    <a href="/admin/product">
      <li><i class="ri-smartphone-fill"></i> Products</li>
    </a>
    <a href="/admin/users">
      <li><i class="ri-user-fill"></i> Users</li>
    </a>
    <a href="/admin/category">
      <li><i class="ri-layout-grid-fill"></i> Category</li>
    </a>
    <a href="/admin/offers">
      <li><i class="ri-percent-fill"></i> Offers Banner</li>
    </a>
    <a href="/admin/banned-users">
      <li><i class="ri-indeterminate-circle-fill"></i> Banned Users</li>
    </a>
    <a href="/admin/coupons">
      <li><i class="ri-ticket-fill"></i> Coupons</li>
    </a>
    <a href="/admin/sales-report">
      <li class="selected"><i class="ri-file-chart-fill"></i> Sales Report</li>
    </a>
  </div>
  <div class="order-container">
    <h3 class="mt-3">Filter</h3>
    <div class="row mt-2 p-3">
        <form action="/admin/sales-report" method="get" class="orders-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Start Date</th>
                      <th scope="col"></th>
                      <th scope="col">End date </th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row">
                        <input type="date" name="startDate" value="<%= startDate %>" onchange="this.form.submit()">
                       </th>
                      <th scope="row">
                        -
                       </th>
                      <td scope="row">
                        <input type="date" name="endDate" value="<%= endDate %>" onchange="this.form.submit()">
                       </td>
                    </tr>
                    
                  </tbody>
              </table>
        </form>
    </div>
    <h3 class="mt-3">Sales Report</h3>
    <div class="row mt-2 p-3">
        <div class="orders-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <td colspan="3" class="thead">Sales report (<%= startDate %> - <%= endDate %>)</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <th scope="col">Total Revenue</th>
                        <td>:</td>
                        <td scope="col"><%= totalRevenue %> </td>
                      </tr>
                    <tr>
                        <th scope="col">Total Orders</th>
                        <td>:</td>
                        <td scope="col"><%= totalOrders %> </td>
                      </tr>
                    <tr>
                        <th scope="col">Total Pending</th>
                        <td>:</td>
                        <td scope="col"><%= totalPending %> </td>
                      </tr>
                    <tr>
                        <th scope="col">Total Dispatch</th>
                        <td>:</td>
                        <td scope="col"><%= totalDispatch %> </td>
                      </tr>
                </tbody>
              </table>
        </div>
    </div>
    <h3 class="mt-3">Orders</h3>
    <div class="row mt-2 p-3">
        <div class="orders-table" id="content">
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col">Name</th>
                      <th scope="col">date</th>
                      <th scope="col">Payment Status</th>
                      <th scope="col">Status</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <% orders.forEach((item,index)=>{ %>

                    <tr>
                      <th scope="row">
                        <%= index+1 %> 
                       </th>
                      <th scope="row">
                        <a href="/admin/order-details/<%=item._id%>">
                          <%=item.product.name  %>
                        </a>
                       </th>
                      <td><%=item.createdAt.toLocaleDateString()  %> </td>
                      <td>
                        <% if(item.paid){ %> Paid
                        <% }else{ %> Not Paid <% } %> 
                        </td>
                      <td class="d-flex justify-content-center">
                        <div class="del-status <%= item.orderStatus  %> ">
                            <%= item.orderStatus  %> 
                        </div>
                    </td>
                      
                    <td><%=item.quantity  %> </td>
                      <td><%=item.product.price  * item.quantity  %> </td>
                    </tr>
                    <%}) %> 

                    
                  </tbody>
              </table>
        </div>
    </div>
    <div class="row report-btns container">
      <button onclick="downloadPdf()">Download in PDF</button>
    </div>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
  <script>
    let orders= '<%- JSON.stringify(orderTable)%>'
    orders=JSON.parse(orders);
    // orders=JSON.parse(orders)
    console.log(orders)

    const { jsPDF } = window.jspdf;
    function downloadPdf() {
      const doc= new jsPDF();
      doc.autoTable({
        head: [['Name', 'total', 'status', 'Quantity', 'order date']],
        body: orders,
      })
      doc.save("demo.pdf");
    }
  </script>