<%- include('../partials/header') %>

<div class="cartlist-main">
  <div class="container">
    <h3 class="cart-head">Cart <i class="ri-shopping-cart-line"></i></h3>
    <% if(!products[0]){ %> 
    <div class="row">
          <div class="empty-container w-100 h-50 d-flex flex-column justify-content-center align-items-center" style="gap:10px">
            <img src="/images/empty-cart.webp" height="350px" alt="">
            <h3>Your Cart is empty!</h3>
             <p>Looks like you haven't added anything to your cart </p> 
          </div>
        </div>
        <% }else{ %> 
    <div class="row">
      <div class="col-12 col-md-7">

        <% products.forEach((item, index)=>{ %>
          <div class="col-12">
            <div class="cart-item">
              <div class="cart-img">
                <img src="/product-images/<%=item.mainImage.filename %>" alt="">
              </div>
              <div class="cart-detail">
                <b><%=item.name  %> </b>
                <h5>₹<%=item.price  %>
                <strike style="font-size: .85rem; color: grey;">
                  ₹<%=item.MRP  %>
                </strike>
                </h4>
              </div>
              <div class="cart-quantity">
                <div class="cartquantiy-box">
                  <button onclick="window.location.href='/minus-quantity/<%=cart[index].id%>'">-</button>
                  <input type="text" value="<%=cart[index].quantity%>">
                  <button onclick="window.location.href='/add-quantity/<%=cart[index].id%>'">+</button>
                </div>
              </div>
              <div class="cart-cancel">
                <i class="ri-close-line"
                onclick="
                if(confirm('Are you Sure Remove this item from Cart ?')) 
                  window.location.href='/remove-from-cart/<%=item._id %>'"
                ></i>
              </div>
            </div>
          </div>
      <% }) %> 
     
        
      </div>
      <div class="col-12 col-md-5">
        <div class="row">
          
          <div class="cart-price-details">
            <h4>Price details</h4>
            <div class="price-item">
              <label for="">Total Price (3 item)</label>

              <b>₹ <%=totalMRP  %> </b>
            </div>
            <div class="price-item">
              <label for="">Discount</label>
              <b class="text-success">- ₹<%= totalMRP-totalPrice  %> </b>
            </div>
            <div class="price-item">
              <label for="">Total amount</label>
              <b>₹ <%=totalPrice  %> </b>
            </div>
            <div class="price-item">
              <a href="/checkout" class="w-100">
                <button class="w-100">Checkout</button>
              </a>
            </div>
          </div>
        </div>

      </div>
      <% } %> 
    </div>
  </div>
</div>