<%- include('../partials/header') %>

<div class="cartlist-main">
  <div class="container pt-3">
    <h3 class="cart-head">Cart <i class="ri-shopping-cart-line"></i></h3>
    <div class="alert alert-dark alert-dismissible fade show" role="alert" style="display: none;" id="cartAlert">
      <div>
        <strong>Out Of Stock!</strong>
      </div>
      

    </div> 
    <% if(!products[0]){ %> 
    <div class="row">
          <div class="empty-container w-100 h-50 d-flex flex-column justify-content-center align-items-center" style="gap:10px">
            <img src="/images/empty-cart.webp" height="300px"  alt="">
            <h3>Your Cart is empty!</h3>
             <p>Looks like you haven't added anything to your cart </p> 
          </div>
        </div>
        <% }else{ %> 
    <div class="row">
      <div class="col-12 col-md-7">

        <% products.forEach((item, index)=>{ %>
          <div class="col-12">
            <div class="cart-item">
              <div class="cart-img">
                <img src="<%=item.mainImage.url %>" alt="">
              </div>
              <div class="cart-detail">
                <a href="/product/<%= item._id %>">
                  <b><%=item.name  %> </b>
                </a>
                  <div>
                    <div class="d-flex">
                      ₹<h5 id="<%='price'+item._id%>">
                        <%= item.price*item.cartQuantity  %>
                      </h5>
                    </div>
                    <strike style="font-size: .85rem; color: grey;">
                      ₹<span id="<%= 'mrp'+item._id %>">
                          <%=item.MRP*item.cartQuantity  %>
                        </span>
                    </strike>
                </div>
                </h5>
                <b id="<%=item._id%>" class="text-danger">
                <% if(item.quantity == 0){ %>
                    Out Of Stock
                <% }else if(item.quantity < item.cartQuantity){%>
                    only <%= item.quantity %> stocks left
                <% } %>
                </b>
              </div>
              <div class="cart-quantity">
                <div class="cartquantiy-box">
                  <button onclick="decQuantity('<%=item._id%>', '<%=item.price%>', '<%=item.MRP%>')">-</button>
                  <input type="number" readonly value="<%=item.cartQuantity%>" id="<%='q'+item._id%>">
                  <button onclick="addQuantity('<%=item._id%>', '<%=item.price%>', '<%=item.MRP%>')">+</button>
                </div>
              </div>
              <div class="cart-cancel">
                <i class="ri-close-line"
                onclick="
                if(confirm('Are you Sure Remove this item from Cart ?')) 
                  window.location.href='/remove-from-cart/<%=item._id %>'"
                ></i>
              </div>
            </div>
          </div>
      <% }) %> 
     
        
      </div>
      <div class="col-12 col-md-5">
        <div class="row">
          
          <div class="cart-price-details">
            <h4>Price details</h4>
            <div class="price-item">
              <label for="">Total Price (3 item)</label>

              <b>₹ <span id="totalPrice">
                <%=totalMRP  %> 
              </span></b>
            </div>
            <div class="price-item">
              <label for="">Discount</label>
              <b class="text-success">- ₹ <span id="totalDiscount">
                <%= totalMRP-totalPrice  %>
              </span> </b>
            </div>
            <div class="price-item">
              <label for="">Total amount</label>
              <b>₹ <span id="totalAmount">
                <%=totalPrice  %>
              </span> </b>
            </div>
            <div class="price-item">
                <button class="w-100" onclick="checkQuantity()">Checkout</button>
            </div>
          </div>
        </div>

      </div>
      <% } %> 
    </div>
  </div>
</div>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script>
  let totalPrice=Number('<%= totalPrice%>')
  let totalMRP=Number('<%= totalMRP%>')
  function checkQuantity(){
    axios.post("/check-quantity").then(response=>{
      if(response?.data?.error){
        document.getElementById('cartAlert').style.display="flex"
        response.data.outOfQuantity.forEach(item=>{
          if(item.balanceQuantity<=0){
            document.getElementById(item.id).innerHTML="Out Of Stock"
          }else{
            document.getElementById(item.id).innerHTML="Only "+item.balanceQuantity+" stocks left"

          }
        })
      }else{
        window.location.href="/checkout"
      }
    })
  }

  async function addQuantity(id, price, MRP){
    const response=await axios.get("/add-quantity/"+id)
    if(response.data.user?.acknowledged){
      var priceTag=document.getElementById('price'+id)
      var MRPTag=document.getElementById('mrp'+id)
      var quantity= document.getElementById('q'+id).value;
      var totalDiscountTag= document.getElementById('totalDiscount');
      var totalPriceTag= document.getElementById('totalPrice');
      var totalAmountTag= document.getElementById('totalAmount');
      quantity++;
      priceTag.innerHTML= quantity*price;
      MRPTag.innerText= quantity*MRP;
      totalMRP=Number(totalMRP)+Number(MRP)
      totalPrice=Number(totalPrice)+Number(price)
      totalPriceTag.innerHTML=totalMRP;
      totalDiscountTag.innerHTML=totalMRP-totalPrice;
      totalAmountTag.innerHTML=totalPrice;
      document.getElementById('q'+id).value=quantity;
    }else{
      window.location.reload()
    }
  }
  

  async function decQuantity(id, price, MRP){
    const response=await axios.get("/minus-quantity/"+id)
    if(response.data.user?.acknowledged){
      var quantity= Number( document.getElementById('q'+id).value);
      var MRPTag=document.getElementById('mrp'+id)
      var totalDiscountTag= document.getElementById('totalDiscount');
      var totalPriceTag= document.getElementById('totalPrice');
      var totalAmountTag= document.getElementById('totalAmount');

      if(quantity<=0){
        window.location.reload()
      }
      var priceTag=document.getElementById('price'+id)
      
      quantity--;
      priceTag.innerHTML= quantity*price;
      MRPTag.innerText= quantity*MRP;
      totalMRP=totalMRP-MRP
      totalPrice=Number(totalPrice)-price
      totalPriceTag.innerHTML=totalMRP;
      totalDiscountTag.innerHTML=totalMRP-totalPrice;
      totalAmountTag.innerHTML=totalPrice;
      document.getElementById('q'+id).value=quantity;
    }else{
      window.location.reload()
    }
  }


</script>