<%- include('../partials/header') %>

<div class="cartlist-main">
  <div class="container pt-3">
    <h3 class="cart-head">Cart <i class="ri-shopping-cart-line"></i></h3>
    <div class="alert alert-dark alert-dismissible fade show" role="alert" style="display: none;" id="cartAlert">
      <div>
        <strong>Out Of Stock!</strong>
      </div>

    </div> 
    <% if(!products[0]){ %> 
    <div class="row">
          <div class="empty-container w-100 h-50 d-flex flex-column justify-content-center align-items-center" style="gap:10px">
            <img src="/images/empty-cart.webp" height="300px"  alt="">
            <h3>Your Cart is empty!</h3>
             <p>Looks like you haven't added anything to your cart </p> 
          </div>
        </div>
        <% }else{ %> 
    <div class="row">
      <div class="col-12 col-md-7">

        <% products.forEach((item, index)=>{ %>
          <div class="col-12">
            <div class="cart-item">
              <div class="cart-img">
                <img src="/product-images/<%=item.mainImage.filename %>" alt="">
              </div>
              <div class="cart-detail">
                <b><%=item.name  %> </b>
                <h5>₹<%=item.price*item.cartQuantity  %>
                <strike style="font-size: .85rem; color: grey;">
                  ₹<%=item.MRP*item.cartQuantity  %>
                </strike>
                </h5>
                <b id="<%=item._id%>" class="text-danger">
                <% if(item.quantity == 0){ %>
                    Out Of Stock
                <% }else if(item.quantity < item.cartQuantity){%>
                    only <%= item.quantity %> stocks left
                <% } %>
                </b>
              </div>
              <div class="cart-quantity">
                <div class="cartquantiy-box">
                  <button onclick="window.location.href='/minus-quantity/<%=item._id%>'">-</button>
                  <input type="number" value="<%=item.cartQuantity%>" id="incQuantity">
                  <button onclick="addQuantity('<%=item._id%>')">+</button>
                </div>
              </div>
              <div class="cart-cancel">
                <i class="ri-close-line"
                onclick="
                if(confirm('Are you Sure Remove this item from Cart ?')) 
                  window.location.href='/remove-from-cart/<%=item._id %>'"
                ></i>
              </div>
            </div>
          </div>
      <% }) %> 
     
        
      </div>
      <div class="col-12 col-md-5">
        <div class="row">
          
          <div class="cart-price-details">
            <h4>Price details</h4>
            <div class="price-item">
              <label for="">Total Price (3 item)</label>

              <b>₹ <%=totalMRP  %> </b>
            </div>
            <div class="price-item">
              <label for="">Discount</label>
              <b class="text-success">- ₹<%= totalMRP-totalPrice  %> </b>
            </div>
            <div class="price-item">
              <label for="">Total amount</label>
              <b>₹ <%=totalPrice  %> </b>
            </div>
            <div class="price-item">
                <button class="w-100" onclick="checkQuantity()">Checkout</button>
            </div>
          </div>
        </div>

      </div>
      <% } %> 
    </div>
  </div>
</div>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script>
  function checkQuantity(){
    axios.post("/check-quantity").then(response=>{
      if(response?.data?.error){
        document.getElementById('cartAlert').style.display="flex"
        response.data.outOfQuantity.forEach(item=>{
          console.log(item)
          if(item.balanceQuantity==0){
            document.getElementById(item.id).innerHTML="Out Of Stock"
          }else{
            document.getElementById(item.id).innerHTML="Only "+item.balanceQuantity+" stocks left"

          }
        })
      }else{
        window.location.href="/checkout"
      }
    })
  }
  async function addQuantity(id){
    const response=await axios.get("/add-quantity/"+id)
    console.log(response.data)
    if(response.data.user.acknowledged){
      console.log("hai")
      var incQuantity= Number( document.getElementById('incQuantity').value);
      console.log(incQuantity)
      document.getElementById('incQuantity').value=incQuantity+1;
    }
  }
</script>