<%- include('../partials/header') %>

<div class="checkout-main">
    <div class="container">
        <form action="/checkout" method="post" class="row">
            <div class="col-12 col-md-7">
                <h3 class="mt-5">Choose Address <a href="/add-address" class="btn btn-dark">Add Address</a></h3>
                <% address.forEach(item=>{ %>
                    <label class="address-box mt-3" for="<%= item.id  %>">
                        <div class="address-detail">
                            <b><%=item.name  %> </b>
                            <b><%=item.mobile  %> </b>
                            <b><%=item.address  %> </b>
                            <b>PIN: <%=item.pincode  %> </b>
                        </div>
                        <div class="address-radio">
                            <input type="radio" value="<%= item.id  %>" name="address" id="<%= item.id  %>" required>
                        </div>
                    </label>
                <% }) %> 
                <% if(error){ %> 
                    <b class="text-danger"><%= message  %> </b>
                  <% } %> 
                <!-- <div class="pay-option mt-4">
                    <a href="/add-address">
                        <button>Add New Address</button>
                    </a>
                </div> -->
            </div>
            <div class="col-12 col-md-5">
                <h3 class="mt-5">Payment Info</h3>
               
                <div class="checkout-payment mt-3">
                    <b>Payment Method</b>
                    <div class="pay-option mt-4">
                        <input type="radio" id="cod" name="payment" value="cod" required>
                        <label for="cod">Cash on Dilivery</label>
                    </div>
                    <div class="pay-option mt-2">
                        <input type="radio" id="online" name="payment" value="online" required>
                        <label for="online">Online Payment</label>
                    </div>
                    
                    <div class="pay-option mt-4">
                        <a href="/ordered-product">
                            <button type="submit">Place Order</button>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>