<%- include('../partials/header') %>

<div class="checkout-main">
    <div class="container">
        <form action="/checkout" method="post" class="row">
            <div class="col-12 col-md-7">
                <h3 class="mt-5 d-flex justify-content-between"><div>Choose Address</div> <a href="/add-address?redirect=checkout" class="btn btn-dark rounded-0">Add Address</a></h3>
                <% address.forEach(item=>{ %>
                    <label class="address-box mt-3" for="<%= item.id  %>">
                        <div class="address-detail">
                            <b><%=item.name  %> </b>
                            <b><%=item.mobile  %> </b>
                            <b><%=item.address  %> </b>
                            <b>PIN: <%=item.pincode  %> </b>
                        </div>
                        <div class="address-radio">
                            <input type="radio" value="<%= item.id  %>" name="address" id="<%= item.id  %>" required>
                        </div>
                    </label>
                <% }) %> 
                <% if(error){ %> 
                    <b class="text-danger"><%= message  %> </b>
                  <% } %> 
                <!-- <div class="pay-option mt-4">
                    <a href="/add-address">
                        <button>Add New Address</button>
                    </a>
                </div> -->
            </div>
            <div class="col-12 col-md-5">
                <h3 class="mt-5">Payment Info</h3>
               
                <div class="checkout-payment mt-3">
                    
                    <b>Use Wallet</b>
                    <div class="pay-option mt-4 mb-4">
                        <label for="wallet" class="checkout-wallet">
                            <div class="cw-label">
                                <i class="ri-wallet-2-line me-2"></i>
                                <b>Wallet</b> 
                            </div>
                            <div class="cw-cash">
                                <b>
                                    ₹
                                    <span id="walletAmount"><%= wallet %></span>
                                </b>
                                <input type="checkbox" id="wallet" name="wallet"  value=true>
                            </div>
                        </label>
                        <div class="mt-3">
                            <span class="me-2">Amount Payable</span>
                            <b>
                                ₹<span id="totalAmount">
                                    <%= totalPrice %>
                                </span>
                            </b>
                        </div>
                    </div>
                    <b>Payment Method</b>
                    <div class="pay-option mt-4">
                        <input type="radio" id="cod" name="payment" value="cod" required>
                        <label for="cod">Cash on Dilivery</label>
                    </div>
                    <div class="pay-option mt-2">
                        <input type="radio" id="online" name="payment" value="online" required>
                        <label for="online">Online Payment</label>
                    </div>
                    
                    <div class="pay-option mt-4">
                        <a href="/ordered-product">
                            <button type="submit">Place Order</button>
                        </a>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<script>
    let walletCash= '<%= wallet %>'
    let totalCash= '<%= totalPrice %>'
        let wallet= document.getElementById('wallet')
        wallet.addEventListener('change', (e)=>{
            let walletAmount= document.getElementById('walletAmount')
            let totalAmount= document.getElementById('totalAmount')
            if(e.target.checked){
                if(walletCash-totalCash>=0){
                    totalAmount.innerText=0
                    walletAmount.innerText=walletCash-totalCash

                }
                else{
                    totalAmount.innerText=-1*(walletCash-totalCash);
                    walletAmount.innerText=0
                }
            }else{
                totalAmount.innerText=totalCash
                walletAmount.innerText=walletCash
            }
        })

</script>