<%- include('../partials/header') %>
<div class="home-main">
  <div class="container">
    <div class="row">
      <div class="home-banner" style="background-image: url(/images/banner.jpg);"></div>
    </div>
    <div class="row mt-5  d-flex justify-content-center">
      <h6>Category</h6>
      <div class="row mt-3 d-flex justify-content-center">
        <div class="col-4 col-md-2">
          <div class="category-item">
            <div
              class="category-img"
              onclick="window.location.href='/search?category=63d3500d1e70f5cc947235c4'"
              style="
                background-image: url(/images/phone.webp);
              "
            ></div> 
            <b class="category">Smartphones</b>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="category-item">
            <div
              class="category-img"
              onclick="window.location.href='/search?category=63d551eadc40f1cfb87d2be6'"
              style="
                background-image: url(/images/laptop.webp);
              "
            ></div>
            <b class="category">Laptop</b>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="category-item">
            <div
              class="category-img"
              onclick="window.location.href='/search?category=63d138c100d975f201c12108'"
              style="
                background-image: url(/images/tab.webp);
              "
            ></div>
            <b class="category">Tablets</b>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="category-item">
            <div
              class="category-img"
              onclick="window.location.href='/search?category=63d13773f5ad6b45438a4362'"
              style="
                background-image: url(images/watch.webp);
              "
            ></div>
            <b class="category">Smartwatch</b>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="category-item">
            <div
              class="category-img"
              onclick="window.location.href='/search?category=63d13780f5ad6b45438a4368'"
              style="
                background-image: url(/images/tv.jpg);
              "
            ></div>
            <b class="category">TV</b>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="category-item">
            <div
              class="category-img"
              onclick="window.location.href='/search?category=63d1377cf5ad6b45438a4365'"
              style="
                background-image: url(/images/earphone.webp);
              "
            ></div>
            <b class="category">Earphone</b>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5  d-flex justify-content-center">
        <h6>Offers</h6>
        <div class="row mt-3 ">
            <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <% offers.forEach(item=>{ %>
                    <div class="carousel-item active" onclick="window.location.href='<%=item.url%>'">
                      <img src="http://localhost:4001/product-images/<%= item.image  %> " class="d-block w-100 carousal-img" alt="...">
                    </div>
                  <% }) %> 
                  <!-- <div class="carousel-item">
                    <img src="https://i03.appmifile.com/609_operator_in/13/01/2023/a5c8f0be1ff691f51c520d8fa0fb9481.jpg?f=webp"  class="d-block w-100 carousal-img" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://image01.realme.net/general/20221124/1669271312450.jpg.webp"  class="d-block w-100 carousal-img" alt="...">
                  </div> -->
                </div>
                <button class="carousel-control-prev carousal-btn" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next carousal-btn" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
    <div class="row mt-5  d-flex justify-content-center">
      <h6>New Launches</h6>
      <div class="row">
        <% products.forEach(item=>{ %> 
            <div class="col-6 col-md-3">
              <div class="recommendation">
                <a href="/product/<%=item._id%>" class="product-card">
                  <div class="product-img">
                    <img src="http://localhost:4001/product-images/<%= item.mainImage.filename  %>" alt="">
                  </div>
                  <div class="product-desc">
                    <div class="product-name"><%= item.name  %> </div>
                    <div class="product-spec" style="max-height: 65px; overflow: hidden;">
                      <%= item.description %> 
                    </div>
                    <div class="product-price">
                      ₹<%= item.price %>
                      &nbsp;
                      <strike style="font-size: small;">
                        ₹<%= item.MRP %>
                      </strike>
                    </div>
                  </div>
                </a>
              </div>
            </div>
        <% }) %> 
      </div>
    </div>
  </div>
</div>
