<%- include('../partials/header') %>
<div class="product-main">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="car-container">
          <div id="carouselExampleIndicators" class="carousel slide w-100">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="/product-images/<%=order.product.mainImage.filename%>"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
        <div class="btns">
          <% if(order.orderStatus=='pending'){ %> 
            <button class="btn-ad-cart w-75" >Cancel</button>
          <%} else {  %> 
          <button class="btn-ad-cart w-75" disabled>Cancel</button>
          <% } %> 
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="product-container">
          <div class="product-head mt-5">
            <h3><%=order.product.name  %> </h3>
          </div>
          <div class="product-price mt-3">
            <h3 class="me-2">₹ <%=order.product.price  %> </h3>
            <strike>₹ <%=order.product.MRP  %> </strike>
          </div>
          <h4 class="mt-4">Address</h4>
          <div class="mt-3 d-flex flex-column">
            <span><%=order.address.name  %> </span>
            <span><%=order.address.mobile  %> </span>
            <span><%=order.address.address  %> </span>
            <span>PIN: <%=order.address.pincode  %> </span>
        </div>
          <h4 class="mt-4">Status</h4>
          <div class="status-box mt-3">
            <div class="order-status justify-content-start">
                <div class="<%= order.orderStatus  %> "><%= order.orderStatus  %> </div>
            </div>
          </div>
          <h4 class="mt-4">Quantity</h4>
          <div class="quantity-box mt-3">
            <span>Quantity: </span>
            <input type="number" value="<%-order.quantity%>" id="quantity" disabled />
          </div>

          <h4 class="mt-5">Add Ratings</h4>
          <form class="ratings d-flex flex-column align-items-start">
            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
            <button>Save</button>
          </form>
          <h4 class="mt-5">Add Ratings</h4>
          <div class="add-review">
            <textarea name="" id="" rows="4" placeholder="add review..."></textarea>
            <button class="mt-3">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
