<%- include('../partials/header') %>

<div class="wishlist-main">
    <div class="container">
        <h3 class="wish-head">Order History <i class="ri-shopping-bag-2-line"></i></h3>
        <div class="row">

            <% orders.forEach((item)=>{ %>

                <div class="col-12">
                    <div class="wish-item">
                        <a href="/order/<%=item._id%>" class="order-img text-dark ps-2">
                            <img src="<%=item.product.mainImage.url %>" alt="">
                        </a>
                            <a href="/order/<%=item._id%>" class="order-detail text-dark">
                                <b><%= item.product.name %> </b>
                                <h5 class="mt-2">₹<%= item.total  %> </h5>
                            </a>
                            <div class="order-status d-flex">
                                <div class="<%=item.orderStatus%>"> <%=item.orderStatus%></div>
                                <!-- <button>Cancel</button> -->
                            </div>
                        </div>
                </div>
            <% }) %> 
           
        </div>
        <% if(!orders[0]){ %> 
            <div class="empty-container w-100 h-50 d-flex flex-column justify-content-center align-items-center" style="gap:10px">
              <img src="/images/no-orders.png" style="width: 300px;" alt="">
              <h3>No Orders found!</h3>
               <p class="text-center">Looks like you haven't ordered anything yet</p> 
            </div>
            <% } %> 
    </div>
</div>