<%- include('../partials/header') %>
<div class="product-main">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="car-container">
          <div id="carouselExampleIndicators" class="carousel slide w-100">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="<%=order.product.mainImage.url%>"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
        <div class="btns">
          <% if(order.orderStatus=='pending'){ %> 
            <button class="btn-ad-cart w-75" onclick="cancelOrder()">Cancel</button>
          <% } else if(order.orderStatus=='delivered'){ %> 
            <button class="btn-ad-cart w-75" onclick="returnOrder()">Return product</button>
          <%} else {  %> 
          <button class="btn-ad-cart w-75" disabled>Cancel</button>
          <% } %> 
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="product-container">
          <div class="product-head mt-5">
            <a href="/product/<%=order.product._id  %>">
              <h3><%=order.product.name  %> </h3>
            </a>
          </div>
          <div class="product-price mt-3">
            <h3 class="me-2">₹ <%=order.total  %> </h3>
            <strike>₹ <%=order.product.MRP  %> </strike>
          </div>
          <h5 class="mt-4">Amount Payable </h5>
          <div class="quantity-box mt-3">
            <b>₹ <%= order.amountPayable %> </b>
           
          </div>
          <h5 class="mt-4">Address</h5>
          <div class="mt-3 d-flex flex-column">
            <span><%=order.address.name  %> </span>
            <span><%=order.address.mobile  %> </span>
            <span><%=order.address.address  %> </span>
            <span>PIN: <%=order.address.pincode  %> </span>
        </div>
          <h5 class="mt-4">Order Status</h5>
          <div class="status-box mt-3">
            <div class="order-status justify-content-start">
                <div class="<%= order.orderStatus  %> "><%= order.orderStatus  %> </div>
            </div>
          </div>
          <% if(order.orderStatus=="pending"){ %> 
          <h5 class="mt-4">Expected Delivery Date</h5>
          <div class="quantity-box mt-3">
            <span><%=order.dispatch.toLocaleDateString() %> </span>
          </div>
          <% } %> 
          <h5 class="mt-4">Quantity</h5>
          <div class="quantity-box mt-3">
            <span>Quantity: </span>
            <input type="number" value="<%-order.quantity%>" id="quantity" disabled />
          </div>
          <h5 class="mt-4">Payment Type</h5>
          <div class="quantity-box mt-3">
            <span><%= order.paymentType %></span>
          </div>
          <h5 class="mt-4">Payment Status</h5>
          <div class="quantity-box mt-3">
            <span><% if(order.paid){ %>Paid <%}else{%>Not Paid <% } %></span>
          </div>
          <% if(order.orderStatus=='delivered'){ %>
            <button class="btn btn-dark mt-3 rounded-0" onclick="downloadInvoice()">Downlad invoice</button>
            <% } %>
          <% if(order.orderStatus=="delivered"){ %> 
          <h4 class="mt-5">
            <% if(rating==""){  %>Add <% }else{ %>Edit <% } %>   Ratings
            </h4>
          <form action="/add-rating" method="post" class="ratings d-flex flex-column align-items-start">
            <input type="text" name="proId" value="<%=order.product._id%>" style="height: 0px; visibility: hidden;" >
            <div class="rate">
              <input type="radio" id="star5" name="rating" value="5"
              <% if(rating==5){ %> checked <% } %> required />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rating" value="4"
              <% if(rating==4){ %> checked <% } %> required />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rating" value="3"
              <% if(rating==3){ %> checked <% } %> required />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rating" value="2"
              <% if(rating==2){ %> checked <% } %> required />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rating" value="1"
              <% if(rating==1){ %> checked <% } %> required />
              <label for="star1" title="text">1 star</label>
            </div>
            <button type="submit">Save</button>
          </form>
          <h4 class="mt-5">
            <% if(review==""){  %>Add <% }else{ %>Edit <% } %> Reviews
          </h4>
          <form action="/add-review" method="post" class="add-review" id="reviewForm">
            <input type="text" name="proId" value="<%=order.product._id%>" style="height: 0px; visibility: hidden;" >
            <textarea name="review" rows="4" placeholder="add review..." form="reviewForm" required><%=review  %></textarea>
            <button class="mt-3" type="Submit">Save</button>
          </form>
          <% } %> 
          
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>

<script>
  let productName= '<%=order.product.name %>'
  let productQuantity= '<%=order.quantity %>'
  let productPrice= '<%=order.product.price %>'
  let productTotal= '<%=order.total %>'
  let orderId= '<%=order.orderId %>'
  let discount= '<%=order.coupon.price %>'
  let userName= '<%=order.address.name %>'
  let mobile= '<%=order.address.mobile %>'
  let address= '<%=order.address.city +", "+order.address.state+", "+order.address.pincode %>'
  let dispatch= '<%=order.dispatch.toLocaleDateString()%>'

   
   function cancelOrder(){
     if(window.confirm("Are you sure ? cancel this order")){
       window.location.href="/cancel-order/<%=order._id%>"
      }
    }
    function returnOrder(){
      if(window.confirm("Are you sure ? return this product")){
        window.location.href="/return-order/<%=order._id%>"
      }
    }
    function downloadInvoice(){
    const { jsPDF } = window.jspdf;
    const doc= new jsPDF();
    doc.text(15, 20, "Cart Genie Invoice");
    doc.setFontSize(12);
      doc.text(15, 30, "Invoice No : "+orderId);
      doc.text(15, 40, "Name : "+userName);
      doc.text(15, 50, "Address : "+address);
      doc.text(15, 60, "Mobile : "+mobile);
      doc.text(15, 70, "Date : "+dispatch);
      doc.autoTable({
        head: [['Product Name', 'Quantity', 'price', "total"]],
        body: [
              [productName, productQuantity, productPrice, productTotal],
              ["", "", "", ""],
              ["", "", "Discount", discount],
              ["", "", "Total", productTotal-discount],
              ["", "", "", ""]
              ],
        startY: 80
      })
    doc.setFontSize(14);
      doc.text(15, doc.lastAutoTable.finalY + 70, "Thank you for the purchase . Continue shopping with us...");
      doc.save('invoice.pdf');
  }
</script>
