<%- include('../partials/header') %>

<div class="wishlist-main">
    <div class="container">
        <h3 class="wish-head">Order History <i class="ri-shopping-bag-2-line"></i></h3>
        <div class="row">

            <% orders.forEach((item)=>{ %>

                <div class="col-12">
                    <div class="wish-item">
                        <div class="order-img">
                            <img src="/product-images/<%=item.product.mainImage.filename%>" alt="">
                        </div>
                            <div class="order-detail">
                                <b><%= item.product.name %> </b>
                                <h5 class="mt-2">₹<%= item.total  %> </h5>
                                <b class="">Quntity : <%= item.quantity  %> </b>
                            </div>
                            <div class="order-status">
                                <div class="<%=item.orderStatus%>"><%=item.orderStatus%></div>
                            </div>
                            <div class="order-cancel">
                                <button>Cancel</button>
                            </div>
                        </div>
                </div>
            <% }) %> 
           
        </div>
    </div>
</div>