<%- include('../partials/header') %>

<div class="checkout-main">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <h3 class="text-center mt-5">Payment Gateway</h3>
            <div class="cart-price-details w-50">
                  <div class="price-item">
                    <label for="">Total Amount</label>
      
                    <b>₹<%= totalPrice  %>  </b>
                  </div>
                  <div class="price-item">
                    <label for="">Coupons Applied</label>
      
                    <b>-₹<%= couponPrice  %>  </b>
                  </div>
                  <div class="price-item">
                    <label for="">Amount Payablet</label>
      
                    <b>₹<%= totalPrice-couponPrice  %>  </b>
                  </div>
                <div class="coupon-item">
                  <label for="coupon">Apply Coupon</label>
                    <form action="/apply-coupon" method="post" class="d-flex">  
                      <input type="text" id="coupon" placeholder="Enter Coupon Code" name="coupon">
                      <button type="submit">Apply</button>
                    </form>
                    <% if(error){ %> 
                        <b class="text-danger"><%= message  %> </b>
                      <% } %> 
                    <% if(couponPrice!=0){ %> 
                        <b class="text-success">Coupon Applied </b>
                      <% } %> 
                    
                </div>
                <div class="coupon-item">
                  <button>Pay Now</button>
                </div>
        
              </div>  
        </div>
    </div>
</div>