<%- include('../partials/header') %>
<div class="product-list">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <form class="filter-sec" method="get">
          <input type="text" value="<%=key%>" name="key" style="height: 0px; visibility: hidden;"
          >
          <div class="row">
            <h6>Cartegory</h6>
          </div>
          <div class="filter-options mt-3">
            <div class="ft-option">
              <input type="radio" value="" name="category" id="d" onchange="this.form.submit()"
                  <% if(category==""){ %> checked <% } %> onchange="this.form.submit()"
              />
              <label for="d">All</label>
            </div>
            <% categories.forEach(item=>{ %> 
              <div class="ft-option">
                <input type="radio" value="<%=item._id%>" name="category" id="<%=item._id%>"
                <% if(category==item._id){ %> checked <% } %> onchange="this.form.submit()"
                />
                <label for="<%=item._id%>"><%=item.category%></label>
            </div>
            <% }) %> 
          </div>
          <div class="row mt-5">
            <h6>Filter</h6>
          </div>
          <div class="filter-options mt-3">
            <div class="ft-option">
                <input type="radio" value="1" name="filter" id="lowToHigh"
                <% if(filter==1){ %> checked <% } %> onchange="this.form.submit()"
                />
                <label for="lowToHigh">Price - Low to High</label>
            </div>
            <div class="ft-option">
                <input type="radio" value="-1" name="filter" id="highToLow"
                <% if(filter==-1){ %> checked <% } %> onchange="this.form.submit()"
                
                />
                <label for="highToLow">Price - High to Low</label>
            </div>
            <div class="ft-option">
                <input type="radio" value="0" name="filter" id="newLaunches"
                <% if(filter==0){ %> checked <% } %> onchange="this.form.submit()"
                />
                <label for="newLaunches">New Launches</label>
            </div>
            </div>
            <!-- <button class="mt-5" type="submit">Save</button> -->

        </form>
      </div>
      <div class="col-9">
        <div class="row mt-5">
          <h5>Products</h5>
        </div>
        <div class="row">
          <% products.forEach(item=>{ %> 

          <div class="col-6 col-md-4">
            <div class="recommendation">
              <a href="/product/<%=item._id  %>" class="product-card">
                <div class="product-img">
                  <img src="http://localhost:4001/product-images/<%= item.mainImage.filename  %>" alt="" />
                </div>
                <div class="product-desc">
                  <div class="product-name"><%= item.name  %></div>
                  <div class="product-spec" style="max-height: 65px; overflow: hidden;">
                    <%= item.description %> 
                  </div>
                  <div class="product-price">
                    ₹<%= item.price %>
                      &nbsp;
                      <strike style="font-size: small;">
                        ₹<%= item.MRP %>
                      </strike>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <% }) %> 
        </div>
        <% if(!products[0]){ %> 
        <div class="empty-container w-100 h-50 d-flex flex-column justify-content-center align-items-center" style="gap:10px">
          <img src="/images/no-search-data.png" alt="">
          <h3>Sorry, no results found!</h3>
           <p>Please check the spelling or try searching for something else</p> 
        </div>
        <% } %> 
        <div class="row d-flex justify-content-center mt-5">
          <% if(pageCount>0) {%> 
          <nav aria-label="Page navigation example text-dark pl-pagination">
            <ul class="pagination d-flex justify-content-center text-dark">
              <li class="page-item ">
                <span class="page-link text-dark" aria-label="Previous">
                  <span aria-hidden="true" onclick="gotoPage('<%=pageCount-1%>')">&laquo;</span>
                </span>
              </li>
              <% for(let i=0; i<=pageCount; i++) {%> 
              <li class="page-item"><span onclick="gotoPage('<%=i%>')" class="page-link text-dark"
                <% if(page==i){ %> style="font-weight:1000;" <% } %> 
                ><%= i+1  %> </span></li>
              <% } %>
              <li class="page-item">
                <span class="page-link text-dark" aria-label="Next">
                  <span aria-hidden="true" onclick="gotoPage('<%=pageCount%>')">&raquo;</span>
                </span>
              </li>
            </ul>
          </nav>
          <% } %> 
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function gotoPage(page){
    var url = new URL(window.location.href);
    var search_params = url.searchParams;
    search_params.set('page', page);
    url.search = search_params.toString();
    var new_url = url.toString();
    console.log(new_url);
    window.location.href=new_url
  }
</script>
