<%- include('../partials/header') %>
<div class="product-list">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <form class="filter-sec" method="get">
          <div class="row">
            <h6>Cartegory</h6>
          </div>
          <div class="filter-options mt-3">
            <% categories.forEach(item=>{ %> 
              <div class="ft-option">
                <input type="radio" value="<%=item.category%>" name="category" id="Smartphone" />
                <label for="Smartphone"><%=item.category%></label>
            </div>
            <% }) %> 
          </div>
          <div class="row mt-5">
            <h6>Filter</h6>
          </div>
          <div class="filter-options mt-3">
            <div class="ft-option">
                <input type="radio" value="1" name="filter" id="lowToHigh" />
                <label for="lowToHigh">Price - Low to High</label>
            </div>
            <div class="ft-option">
                <input type="radio" value="-1" name="filter" id="highToLow" />
                <label for="highToLow">Price - High to Low</label>
            </div>
            <div class="ft-option">
                <input type="radio" value="0" name="filter" id="newLaunches" />
                <label for="newLaunches">New Launches</label>
            </div>
            </div>
            <button class="mt-5" type="submit">Save</button>

        </form>
      </div>
      <div class="col-9">
        <div class="row mt-5">
          <h5>Products</h5>
        </div>
        <div class="row">
          <% products.forEach(item=>{ %> 

          <div class="col-6 col-md-4">
            <div class="recommendation">
              <a href="/product/<%=item._id  %>" class="product-card">
                <div class="product-img">
                  <img src="http://localhost:4001/product-images/<%= item.mainImage.filename  %>" alt="" />
                </div>
                <div class="product-desc">
                  <div class="product-name"><%= item.name  %></div>
                  <div class="product-spec" style="max-height: 65px; overflow: hidden;">
                    <%= item.description %> 
                  </div>
                  <div class="product-price">
                    ₹<%= item.price %>
                      &nbsp;
                      <strike style="font-size: small;">
                        ₹<%= item.MRP %>
                      </strike>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <% }) %> 
        </div>
      </div>
    </div>
  </div>
</div>
