<%- include('../partials/header') %>
<div class="product-list">
  <div class="container">
    <div class="row">
      <div class="col-1 col-md-3">
        <form class="filter-sec" method="get">
          <div class="row bg-white d-md-none d-flex p-2">
            <div class="col d-flex flex-row-reverse align-items-center" onclick="hideFilter()">
              <i class="ri-close-fill" style="margin-top: 10px; font-size: 1.8rem;"></i>
            </div>
          </div>
          <input type="text" value="<%=key%>" name="key" style="height: 0px; visibility: hidden;"
          >
          <div class="row">
            <h6>Category</h6>
          </div>
          <div class="filter-options mt-3">
            <div class="ft-option">
              <input type="radio" value="" name="category" id="d"
                  <% if(category==""){ %> checked <% } %> onchange="handleChange('category', '')"
              />
              <label for="d">All</label>
            </div>
            <% categories.forEach(item=>{ %> 
              <div class="ft-option">
                <input type="radio" value="<%=item._id%>" name="category" id="<%=item._id%>"
                <% if(category==item._id){ %> checked <% } %> onchange="handleChange('category', '<%= item._id%>')"
                />
                <label for="<%=item._id%>"><%=item.category%></label>
            </div>
            <% }) %> 
          </div>
          <div class="row mt-5">
            <h6>Sort By </h6>
          </div>
          <div class="filter-options mt-3">
            <div class="ft-option">
                <input type="radio" value="1" name="filter" id="lowToHigh"
                <% if(filter==1){ %> checked <% } %> onchange="handleChange('filter', 1)"
                />
                <label for="lowToHigh">Price - Low to High</label>
            </div>
            <div class="ft-option">
                <input type="radio" value="-1" name="filter" id="highToLow"
                <% if(filter==-1){ %> checked <% } %> onchange="handleChange('filter', -1)"
                
                />
                <label for="highToLow">Price - High to Low</label>
            </div>
            <div class="ft-option">
                <input type="radio" value="0" name="filter" id="newLaunches"
                <% if(filter==0){ %> checked <% } %> onchange="handleChange('filter', 0)"
                />
                <label for="newLaunches">New Launches</label>
            </div>
            </div>

        </form>
      </div>
      <div class="col-12 col-md-9">
        <div class="row bg-white d-md-none d-flex p-2">
          <div class="col d-flex flex-row-reverse align-items-center" onclick="showFilter()">
            <i class="ri-filter-2-line" style="margin-top: -10px;"></i>
            <h6>Filter</h6>
          </div>
        </div>
        <div class="row mt-3">
          <h5>Products</h5>
        </div>
        <div class="row" id="productList">
          <% products.forEach(item=>{ %> 

          <div class="col-6 col-md-4">
            <div class="recommendation">
              <a href="/product/<%=item._id  %>" class="product-card">
                <div class="product-img">
                  <img src="<%= item.mainImage.url  %>" alt="" />
                </div>
                <div class="product-desc">
                  <div class="product-name"><%= item.name  %></div>
                  <div class="product-spec" style="max-height: 65px; overflow: hidden;">
                    <%= item.description %> 
                  </div>
                  <div class="product-price">
                    ₹<%= item.price %>
                      &nbsp;
                      <strike style="font-size: small;">
                        ₹<%= item.MRP %>
                      </strike>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <% }) %> 
          <% if(!products[0]){ %> 
          <div class="empty-container w-100 h-50 d-flex flex-column justify-content-center align-items-center" style="gap:10px">
            <img src="/images/no-search-data.png" height="" alt="">
            <h3>Sorry, no results found!</h3>
             <p class="text-center">Please check the spelling or try searching for something else</p> 
          </div>
          <% } %> 
        </div>
        <div class="row d-flex justify-content-center mt-5" id="pagination">
          <% if(pageCount>0) {%> 
          <nav aria-label="Page navigation example text-dark pl-pagination">
            <ul class="pagination d-flex justify-content-center text-dark">
              <li class="page-item ">
                <span class="page-link text-dark" aria-label="Previous">
                  <span aria-hidden="true" onclick="gotoPage('<%=pageCount-1%>')">&laquo;</span>
                </span>
              </li>
              <% for(let i=0; i<=pageCount; i++) {%> 
              <li class="page-item"><span onclick="gotoPage('<%=i%>')" class="page-link text-dark"
                <% if(page==i){ %> style="font-weight:1000;" <% } %> 
                ><%= i+1  %> </span></li>
              <% } %>
              <li class="page-item">
                <span class="page-link text-dark" aria-label="Next">
                  <span aria-hidden="true" onclick="gotoPage('<%=pageCount%>')">&raquo;</span>
                </span>
              </li>
            </ul>
          </nav>
          <% } %> 
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

<script>
  let mainUrl= new URL(window.location.href);
  let mainSearchParams=mainUrl.searchParams
  let key='<%=key%>'
  let newMainUrl=''
  
  function gotoPage(page){
    mainSearchParams.set('page', page);
    mainSearchParams.set('key', key);
    mainUrl.search = mainSearchParams.toString();
    newMainUrl = mainUrl.toString();
    window.location.href=newMainUrl
  }

  function showFilter(){
    var filterSec=document.querySelector('.filter-sec');
    filterSec.style.top="50px"
  }
  function hideFilter(){
    var filterSec=document.querySelector('.filter-sec');
    filterSec.style.top="-1000px"
  }

  let url = new URL("http://www.cartgenie.store/product-list");
  let searchParams= url.searchParams;


  async function handleChange(setName, value){
    searchParams.set(setName, value);
    searchParams.set('key', key);
    mainSearchParams.set(setName, value);
    url.search = searchParams.toString();
    mainUrl.search = mainSearchParams.toString();
    var newURL = url.toString();
    newMainURL = url.toString();
    let response = await axios.get(newURL)
    let productList=document.getElementById('productList')
    productList.innerHTML=""
    response.data.products.forEach((item, index)=>{
      let div=document.createElement('div');
      div.setAttribute('class', "col-6 col-md-4")
      div.innerHTML=`
            <div class="recommendation">
              <a href="/product/${item._id }" class="product-card">
                <div class="product-img">
                  <img src="${item.mainImage.url}" alt="" />
                </div>
                <div class="product-desc">
                  <div class="product-name">${item.name}</div>
                  <div class="product-spec" style="max-height: 65px; overflow: hidden;">
                    ${item.description} 
                  </div>
                  <div class="product-price">
                    ₹${item.price}
                      &nbsp;
                      <strike style="font-size: small;">
                        ₹${item.MRP}
                      </strike>
                  </div>
                </div>
              </a>
            </div>
          `
          productList.appendChild(div)
    })
    if(response?.data?.pageCount<=0){
      let pagination=document.getElementById('pagination')
      pagination.innerHTML=""
    }else{
      let pagination=document.getElementById('pagination')
      pagination.innerHTML=`
      <nav aria-label="Page navigation example text-dark pl-pagination">
            <ul class="pagination d-flex justify-content-center text-dark" id="paginationUl">
            </ul>
          </nav>
      `
      let paginationUl=document.getElementById('paginationUl');
      let li1= document.createElement('li');
      li1.setAttribute('class', 'page-item')
      li1.innerHTML=`
          <span class="page-link text-dark" aria-label="Previous">
            <span aria-hidden="true" onclick="gotoPage('${response.data.pageCount - 1}')">&laquo;</span>
          </span>
      `
      paginationUl.appendChild(li1)
      for(let i=0; i<=response.data.pageCount; i++){
        let li2= document.createElement('li');
      li2.setAttribute('class', 'page-item')
        li2.innerHTML=`
        <span onclick="gotoPage('${i}')" class="page-link text-dark"> ${i+1} </span>
        `
        paginationUl.appendChild(li2)
      }
      let li3= document.createElement('li');
      li3.setAttribute('class', 'page-item')
      li3.innerHTML=`
      <span class="page-link text-dark" aria-label="Next">
                  <span aria-hidden="true" onclick="gotoPage('${response.data.pageCount - 1}')">&raquo;</span>
                </span>
      `
      paginationUl.appendChild(li3)
    }
  }

</script>