<%- include('../partials/header') %>
<div class="profile-main">
    <div class="container pt-5">
        <h3>Profile</h3>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="profile-container">
                    <h4>General</h4>
                    <div class="profil-row">
                        <b>Name : </b><span><%= user.name %></span>
                    </div>
                    <div class="profil-row">
                        <b>Email : </b><span><%= user.email  %> </span>
                    </div>
                    <div class="profil-row">
                        <b>Password : </b><span>
                            <i class="ri-checkbox-blank-circle-fill"></i>
                            <i class="ri-checkbox-blank-circle-fill"></i>
                            <i class="ri-checkbox-blank-circle-fill"></i>
                            <i class="ri-checkbox-blank-circle-fill"></i>
                            <i class="ri-checkbox-blank-circle-fill"></i>
                            <i class="ri-checkbox-blank-circle-fill"></i>
                        </span>
                    </div>
                    <div class="profil-row">
                        <button onclick="window.location.href='/edit-profile'">Edit</button>
                        <a href="/logout">
                            <button>Logout</button>

                        </a>
                    </div>
                </div>
                <div class="porfile-items">
                    <a href="#" class="profile-item">
                        <b class="d-flex align-items-center"><i class="ri-wallet-2-line me-2"></i> Wallet</b>
                        <b>₹ <% if(user.wallet) { %><%= user.wallet%><% } else{ %>0 <% } %> </b>
                    </a>
                </div>
                <div class="porfile-items">
                    <a href="/cart" class="profile-item">
                        <b>Cart</b>
                        <i class="ri-shopping-cart-line"></i>
                    </a>
                </div>
                <div class="porfile-items">
                    <a href="/wishlist" class="profile-item">
                        <b>Wishlist</b>
                        <i class="ri-heart-line"></i>
                    </a>
                </div>
                <div class="porfile-items">
                    <a href="/orders" class="profile-item">
                        <b>Order History</b>
                        <i class="ri-shopping-bag-2-line"></i>
                    </a>
                </div>
                <div class="porfile-items">
                    <a href="/coupons" class="profile-item">
                        <b>Coupons</b>
                        <i class="ri-coupon-2-line"></i>
                    </a>
                </div>
                <div class="row"></div>
            </div>
            <div class="col-12 col-md-6">
                <div class="manage-profile-address pt-3">
                    <div class="d-flex justify-content-between">
                        <h4>Manage address </h4>
                        <a href="/add-address?redirect=profile" class="btn btn-dark rounded-0 ">Add</a>
                    </div>
                    <% user.address.forEach((item)=>{  %> 
                    <div class="manage-address-row">
                        <div class="man-ad-left">
                            <b><%=item.name  %> </b>
                            <b><%=item.mobile  %> </b>
                            <b><%=item.address  %> </b>
                            <b>PIN: <%=item.pincode  %> </b>
                        </div>
                        <div class="man-ad-right">
                            <i class="ri-delete-bin-5-fill text-dark" onclick="deleteAddress('<%=item.id%>')"></i>
                            <a href="/edit-address/<%=item.id %>"><i class="ri-edit-box-line text-dark"></i></a>
                        </div>
                    </div>
                    <% }) %> 
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function deleteAddress(id){
        if(confirm("Are you sure delete this address")){
            window.location.href="/delete-address/"+id
        }
    }
</script>